header {
    width: 100%;
    background-color: rgb(249, 219, 121);
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links-menu a{
    margin: 0 20px;
    font-weight: bold;

    text-decoration: none;
    color: black;
}

.menu img {
    height: 75px;
}