.sobre-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.conteudo {
    margin: 100px;
    width: 1024px;
}

.conteudo h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.conteudo h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.conteudo p {
    margin-bottom: 15px;
}

.banner-sobre-2 {
  display: flex;
  width: 100%;
}

.banner-sobre-2 img {
    width: 50%;
    object-fit: cover;
}

