.banner-sabores {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../../../public/assets/banner-sabores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

.banner-sabores p {
    font-weight: bold;
    font-size: 100px;
    color: white;
    text-shadow: 5px 5px 5px black;
}